.bookclassify{
    position: relative;
    /* border: 1px solid red; */
    margin-top: 10px;
    height: .5rem;
    width: 100%;
    margin-left: 15px;
}
.booklist{
    /* border: 1px solid red; */
    margin-left: 20px;
    list-style-type: square;
    color: black;
    z-index:-1;
    font-size: 1rem;
}
.s_container{
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-rows: 10% 90%;
}