.search_input{
    position: relative;
    width: 50%;
    left: 18%;
    margin: 15px;
}

.search_input2{
    position: relative;
    width: 45%;
    left: 10%;
    margin: 15px;
}

button{
    position: absolute;
    top: 15px;
    left: 230px;
}

.searchimg{
    position: absolute;
    width: 5.3%;
    left: 66%;
    top: 16.5px;
}